
h1{
    color: red;
}

p{
    color: tomato;
    font-style: italic;
    font-size: 25px;
}

ol{
    color: rgb(114, 17, 17);
    line-height: 50px;
}
.linethrough{
    text-decoration: line-through;
}

.highlight{
    background-color: yellow;
    font-weight: bolder;

}
.underline{
    text-decoration: underline;

}
ul{
    letter-spacing: .2cm;
    color: rgb(114, 17, 17);
}
.para{
    color: rgb(95, 12, 12);
    font-size: 20px;
}

a{
    background-color: yellow;
    font-style: italic;
    text-decoration: none;
    font-size: 18px;
}
